:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* - - - HEADER - - - */

header {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 30px;
  background-color: rgba(50, 75, 117, 0.802);
}

header h1 {
  font-size: 48px;
  color: white;
}

/* - - - MAIN - - - */

main {
  min-height: calc(100vh - 220px);
}

input {
  border: 1px solid #324b75d5;
  border-radius: 3px;
  color: white;
  margin: 20px;
  padding: 10px;
}

.cards {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border-radius: 5px;
  width: 200px;
  height: 400px;
  background-color: #ececec;
  position: relative;
  box-shadow: 2px 2px 2px #324b7553;
}

.card .title {
  padding: 20px;
  font-size: 16px;
  text-align: center;
  color: #333;
}

.card .bottom-row {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.card .close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-color: rgba(50, 75, 117, 0.802);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}

.card .minus-button,
.card .plus-button {
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #c40000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}

.card .close-button:hover,
.card .minus-button:hover,
.card .plus-button:hover {
  background-color: #333;
  cursor: pointer;
}

.card .minus-button:active {
  transform: translateY(5px);
}

.card .plus-button:active {
  transform: translateY(-5px);
}

.card .likes {
  background-color: #ececec;
  text-align: center;
}

.card img {
  border-radius: 5px 5px 0 0;
  height: 260px;
  object-fit: cover;
}

/* - - - FOOTER - - - */

footer {
  width: 100%;
  height: 20px;
  font-size: 16px;
  padding: 2px;
  background-color: rgba(50, 75, 117, 0.802);
  color: white;
  text-align: center;
}
