:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* - - - HEADER - - - */

header {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 30px;
  background-color: #ececec;
  color: #333;
}

/* - - - MAIN - - - */

main {
  min-height: calc(100vh - 230px);
}

input {
  border: 1px solid #324b75d5;
  border-radius: 3px;
  color: white;
  margin: 20px;
  padding: 10px;
}

.cards {
  padding: 60px;
  display: flex;
  gap: 20px;
}

.card {
  border-radius: 5px;
  width: 190px;
  height: 380px;
  background-color: #ececec;
  position: relative;
  box-shadow: 2px 2px 2px #324b75b8;
}

.card .close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  background-color: #324b75;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .close-button:hover,
.card .minus-button:hover,
.card .plus-button:hover {
  background-color: rgba(50, 75, 117, 0.754);
}

.card .title {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.card .bottom-row {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}

.card .minus-button,
.card .plus-button,
.card .likes {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #324b75;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  border-radius: 5px 5px 0 0;
  height: 260px;
  object-fit: cover;
}

/* - - - FOOTER - - - */

footer {
  width: 100%;
  height: 20px;
  font-size: 16px;
  background-color: #efefef;
  text-align: center;
}
